@import "tailwindcss";


@theme {
  /* --font-family-body: 'Noto Sans JP', sans-serif; */

   /* ブレークポイントを CSS 変数で定義 */
   --breakpoint-xs: 0px;
   --breakpoint-sm: 600px;
   --breakpoint-md: 900px;
   --breakpoint-lg: 1200px;
   --breakpoint-headerlg: 1250px;  /* カスタムブレークポイント */
   --breakpoint-xl: 1440px;
   --breakpoint-xxl: 1920px;      /* カスタムブレークポイント */

   /* テキストカラー */
  --color-text-primary: #E8E6E3; /* #E8E6E3 in RGB */

  /* プライマリカラーパレット */
  --color-primary-main: #121212;     /* #212121 */
  --color-primary-dark: 255 196 0;    /* #FFC400 */

  /* セカンダリカラーパレット */
  --color-secondary-main:  33, 150, 243;  /* #80CBC4 */
  --color-secondary-dark: 128 203 196; /* #80CBC4 */

  /*divider-color*/

  /* 背景色 */
  --color-background-default: #212121; /* #212121 */

  /* エラーカラー */
  --color-error-main:#EF9A9A ;    /* #EF9A9A */

 /* boxShadow のカスタマイズ */
  --shadow-2xs:  0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);/* elevation 1 */
  --shadow-xs: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);/* elevation 2 */
  --shadow-sm:  0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);/* elevation 4 */
  --shadow-md: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);/* elevation 5 */
  --shadow-lg: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);/* elevation 8 */
  --shadow-xl:  0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);/* elevation 16 */
  --shadow-2xl: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);/* elevation 24 */
 
}





*,
*::before,
*::after {
    @apply box-border;
}
*:focus {
  /* フォーカス時のスタイル */
  outline: 2px solid #005fcc;
}
div:focus {
  outline: 2px solid #3b82f6; /* indigo-500 */
  outline-offset: 2px;
}
body {
  @apply bg-background-default text-text-primary ;
  /* font-family: var(--font-family-body); */
  --color-divider-main:#424242;
  --color-secondary-main:  #B3E5FC;
}

h2 {
  
  font-size: 36px;
  font-weight: bold;

}
p {
  line-height: 1.8;
}
/* CSSファイルまたはTailwindの@layerで */
.pagination-link {
  @apply relative inline-flex items-center border   px-6 py-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:border-2 hover:border-indigo-500;
}

.pagination-link.active {
  @apply text-[#121212]  relative z-10 bg-indigo-50;
}